/* 默认字体大小 */
body {
    font-size: 14px; /* 默认值，适用于普通屏幕 */
}

/* 针对 5k 分辨率（约 218 DPI 或 5x DPPX） */
@media (-webkit-min-device-pixel-ratio: 5), (min-resolution: 5dppx) {
    body {
        font-size: 14px;
    }
}

/* 针对 4k 分辨率（约 192 DPI 或 4x DPPX） */
@media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 4dppx) {
    body {
        font-size: 16px;
    }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// 版权
p.cc {
  display: none;
}